header {
		text-align: center;
		color: grey;
		background-size: cover;
		background: url("http://static.tumblr.com/fb7f6248e23bfb4fdb35c414a16a7eff/xssqhhe/Dlynb0uov/tumblr_static_bo15u141ejkk88o00ww4g04gw.jpg");
		background-position: center;
	}
.headshot {
	border: 5px solid white;
	border-radius: 50px;
	margin: 50px 0px 5px 0px;
}
h1 {
	text-align: center;
	font-size: 40px;
	font-weight: lighter;
	color: white;
	border-color: black;
	font-family: "Pacifico";
}
ul {
	padding: 10px;
	background-color: black;
		}
li {
	display: inline;
	padding: 0px 20px 0px 20px;
	color: grey;
	font-family: "Pacifico"
}
.container {
	max-width: 500px;
	padding: 10px;
	margin: 0 auto;
	color: gray;
}
h2 {
	text-align: center;
	font-size: 40px;
	font-weight: lighter;
	font-family: "Lobster"
}
p {
	display: block;
	text-align: center;
	font-family: "Lobster";
}
